<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>new Person</title>
</head>
<body>
<!--форма ля создания человека первый атрибут метод, второй атрибут эктион-->
<form th:method="POST" th:action="@{/admin}" th:object="${user}">
    <label for="username">Enter username:      </label>
    <input type="text" th:field="*{username}"id = "username">
    <div style="color:red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Username error</div>
    <br/>
    <label for="lastName">Enter lastName:</label>
    <input type="text" th:field="*{lastName}"id = "lastName">
    <div style="color:red" th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}">Lastname error</div>
    <br/>
    <label for="age">Enter age:        </label>
    <input type="text" th:field="*{age}"id = "age">
    <div style="color:red" th:if="${#fields.hasErrors('age')}" th:errors="*{age}">Age error</div>
    <br/>
    <label for="password">Enter password:        </label>
    <input type="text" th:field="*{password}"id = "password">
    <div style="color:red" th:if="${#fields.hasErrors('password')}" th:errors="*{password}">Password error</div>
    <br/>
    <input type="submit" value="Create!"/>
</form>
<br>
<a href="/logout">Logout</a>

</body>
</html>