<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <script type="text/javascript" src="https://code.jquery.com/jquery-3.6.3.min.js"></script>


    <title>User</title>
</head>
<body>
<nav class="navbar navbar-dark bg-dark">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1">
        <span class="text-white font-weight-bold"><strong id="headerUsername"></strong></span>
            <span class="text-white">with role: </span>
            <span class="text-white"><a id ="headerRole"></a></span>
        </span>
        <a class="nav-link active" aria-current="page" th:href="@{/login}">Logout</a>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="d-flex align-items-start">
            <div class="col-md-2">
                <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
                    <button class="nav-link active"
                            id="v-pills-user-tab"
                            data-bs-toggle="pill"
                            data-bs-target="#v-pills-user"
                            type="button" role="tab"
                            aria-controls="v-pills-user"
                            aria-selected="false"
                    >User
                    </button>
                </div>
            </div>
            <div class="col-md-10">
                <div class="tab-pane"
                     id="v-pills-user"
                     role="tabpanel"
                     aria-labelledby="v-pills-user-tab"
                     tabindex="0">
                    <div>
                        <h5>User information page</h5>
                    </div>
                    <div class="container-fluid">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Username</th>
                                <th>Lastname</th>
                                <th>Age</th>
                                <th>Role</th>
                            </tr>
                            </thead>
                            <tbody id="userTableBody">
                            </tbody>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
<script type="text/javascript" src="userList.js"></script>
</body>
</html>












